/* colors */
/* dark gray = #042a2b
deep blue = #5eb1bf
light blue = #cdedf6
light orange = #ef7b45
deep orange = #d84727 */

img {
    width: 200px;
}


/* header stylings */

h1 {
    margin: 20px;
    margin-left: 30%;
    margin-right: 30%;
    padding: 10px;
    font-size: 100px !important;
}

.mainheader {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    color: #042a2b;
    border: 5px solid #aca9a9;
    border-radius: 15px;
}

header {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

#namebox {
    text-align: center;
}

.floatleft {
    float: left;
}

/* searchbox col */



#searchinput {
    width: 100%;
    margin-top: 5px !important;
    border:2px solid #aca9a9;
    border-radius: 5px;
}

#searchbox {
    background-color: white;
    /* margin: auto;
    margin-top: 2px; */
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
}


.history {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 5px !important;
    padding: 3px;
}

#checkbox {
    margin-top: 2px;
    margin-bottom: 15px;
    background-color: #aca9a9;
    padding: 20px;
    border-radius: 15px;
}

.form-check {
    margin-left: 18px;
}

#historylist {
    min-height: 150px;
    margin-bottom: 10px;
}

#search {
    width: 100%;
    margin: auto !important;
    margin-top: 10px !important;
    background-color: #e9e9e9;
    border: 2px solid #5c5c5c;
    color: #042a2b;
    height: 40px;
    margin-bottom: 10px !important;
}

/* main page */
#pagecontents {
    margin: auto;
    margin-bottom: 100px;
}

.results {
    background-color: white;
    min-height: 585px;
    max-height: fit-content;
    border-radius: 15px;
    margin-bottom: 10px;
}

.recipe {
    height: 580px;
    overflow: auto;
    color: #042a2b;
    border-radius: 25px;
    border: 10px solid white;
    padding: 25px !important;
    background-color: #cdedf6;
}

.drink {
    background-color: #aca9a9;
    height: 580px;
    overflow: auto;
    color: white;
    border-radius: 25px;
    padding: 25px !important;
    border: 10px solid white;
}

img {
    margin: 10px;
    display: block;
    width: 400px;
}

h3, h6 {
    color: #042a2b;
}

.ins {
    display: inline-block;
    margin-left: 30px;
}

button {
    display: block;
    background-color: #ffffff;
    /* margin: 10px !important; */
}

/* footer */

#footer {
    background-color: #aca9a9;
    text-align: center;
}

#footertxt {
    margin: 20px;
    font-size: 20px;
}


.history {
    width: 100%;
}

footer {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    border-top: 5px solid #aca9a9;
    background-color:#ffffff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: rgb(107, 102, 102);
}

#copyright {
    display: inline-block;
    margin: auto;
    font-size: 24px;
    
}

#socialmedia {
    display: inline-block;
    position: absolute;
    right: 30px;
    font-size: 24px;
}

